<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <!--<img src="static/img/vector_logo.png" alt="Logo" width="50" class="navbar me-3">-->
        <a class="navbar-brand" ><h2>Muhammet Yıldırım Blog</h2></a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-underline">
            <li class="nav-item">
              <a class="nav-link  link-info" aria-current="page" href="{% url 'home' %}">ana sayfa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  link-info" aria-current="page" href="{% url 'blog' %}">blog sayfası</a>
            </li>
        </ul>
    </div>
</nav>
