{% load static %}

<div class="list-group">
    <a style="text-align:center" href="" class="list-group-item list-group-item-action active" aria-current="true"></a>
    <a style="text-align:center" href="" class="list-group-item list-group-item-action list-group-item-primary">Web programlama</a>
    <a style="text-align:center" href="" class="list-group-item list-group-item-action list-group-item-success">Python-Django</a>
    <a style="text-align:center" href="" class="list-group-item list-group-item-action list-group-item-danger">Bootstrap</a>
    <a style="text-align:center" href="" class="list-group-item list-group-item-action list-group-item-info">Java programlama dili</a>
    <a style="text-align:center" href="" class="list-group-item list-group-item-action list-group-item-warning">Flutter ile mobil uygulama</a>
</div>