<!DOCTYPE html>
{% load static %}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devace-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% block css %}{% endblock %}
    <title>MY.com | {% block title %} {% endblock %}</title>
</head>
<body class="bg-dark">
    {% include 'partials/_navbar.html' %}

    {% block content %}{% endblock %}

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block js_files %}{% endblock %}
</body>
</html>