{% extends "base.html" %}
{% load static %}


{% block title %} Blog sayfası {% endblock %}


{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-9">
            {% include 'blogapp/partials/_categories.html' %}
        </div>
        <div class="col-9">
            <h1 style="color:green">Blog sayfası</h1>
            <hr color="green" size="10">

            {% for blog in blogs %}
                {% include 'blogapp/partials/_blogs.html' %}
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}
