{% extends "base.html" %}
{% load static %}


{% block title %} Blog_sayfası {% endblock %}


{% block content %}

<h1 style="color:white; text-align:center; margin-top:20px; margin-bottom:20px;">Blog sayfası</h1>
<hr color="red" size="10">

<div class="container">
    <div class="row">
        <div class="col-12">
            {% include 'blogapp/partials/_categories.html' %}
        </div>
        <div class="col-12">
            <hr color="red" size="10">

            {% if blogs|length > 0 %}
                {% for blog in blogs %}
                    {% include 'blogapp/partials/_blogs.html' %}
                {% endfor %}
            {% else %}
                <div class="alert alert-warning" role="alert" style="text-align:center; font-weight:500; color:#000000; ">Bu kategori ile ilgili bir içerik bulunamadı !</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
